/* Vraag */
h3 {
  font-weight: 700;
  margin-top: 0;          
  margin-bottom: 0.6rem; /* iets minder dan 1rem */
  color: #005963;
  line-height: 1.3; /* strakker */
}

/* Reflectievraag */
.reflectie {
  font-style: italic;
  margin-top: 0;          
  margin-bottom: 1.2rem;  /* iets minder dan 1.8rem */
  color: #555;
  line-height: 1.5;
}

/* Tekst paragrafen binnen #kaart (uitleg etc) */
#kaart p:not(.reflectie) {
  margin-top: 0;
  margin-bottom: 0.8rem; /* tussen tekstregels minder wit */
  line-height: 1.5;
}